<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav mode="side" #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
               (closed)="events.push('close!')">
    <a mat-button color="primary" (click)="saveTeam()" class="save-icon">
      <mat-icon>save</mat-icon>
    </a>
    <div *ngIf="(teams$ | async) as teams" class="teams-container">

      <mat-accordion *ngIf="teams.length > 0">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Saved teams
            </mat-panel-title>
            <mat-panel-description>
              Click on a previously saved team to retrieve it
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-action-list>
            <mat-list-item *ngFor="let team of teams" (click)="selectTeam(team)">
              <h5 matLine>Goalkeeper</h5>
              <div matLine>
                <div class="team-avatar" *ngFor="let player of getByPosition(team, 'Goalkeeper')">
                  <img *ngIf="player.images.length > 0" [src]="player.images[0].url"/>
                </div>
              </div>
              <h5 matLine>Defenders</h5>
              <div matLine>
                <div class="team-avatar" *ngFor="let player of getByPosition(team, 'Defender')">
                  <img *ngIf="player.images.length > 0" [src]="player.images[0].url"/>
                </div>
              </div>
              <h5 matLine>Midfielders</h5>
              <div matLine>
                <div class="team-avatar" *ngFor="let player of getByPosition(team, 'Midfielder')">
                  <img *ngIf="player.images.length > 0" [src]="player.images[0].url"/>
                </div>
              </div>
              <h5 matLine>Forwards</h5>
              <div matLine>
                <div class="team-avatar" *ngFor="let player of getByPosition(team, 'Forward')">
                  <img *ngIf="player.images.length > 0" [src]="player.images[0].url"/>
                </div>
              </div>
              <div matLine>
                Created {{toHuman(team.created_at)}}
              </div>
            </mat-list-item>
          </mat-action-list>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <h2>Players</h2>
    <mat-form-field class="filter-input">
      <input matInput placeholder="Filter" [(ngModel)]="filter">
    </mat-form-field>
    <div
      #availablePlayersList="cdkDropList"
      cdkDropList class="players-list"
      [cdkDropListData]="filteredPlayers()"
      [cdkDropListConnectedTo]="getConnectedItems()">
      <mat-card class="player" cdkDrag *ngFor="let player of filteredPlayers()" [ngClass]="{'selected': isSelected(player.number)}">
        <img matListAvatar *ngIf="player.images.length > 0" [src]="player.images[0].url" alt="{{player.name}}">
        <div class="player-info">
          <div class="content">
            <h4>{{player.name}}</h4>
            <span>{{player.position}}</span>
          </div>
        </div>
        <div class="player-number">
          <span>{{player.number}}</span>
          <div [inlineSVG]="jerseySVG"></div>
        </div>
        <div *cdkDragPreview>
          <div [inlineSVG]="jerseySVG"></div>
          <span>{{player.number}}</span>
        </div>
      </mat-card>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <mat-icon (click)="sidenav.toggle()" class="menu-icon">menu</mat-icon>
        <span>Select your Starting 11</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="football-pitch">
      <div class="corner">
        <div class="corner1"></div>
        <div class="corner2"></div>
      </div>
      <div class="semi1"></div>
      <div class="middle-circle"></div>
      <div class="interior"></div>
      <div class="penalty"></div>
      <mat-grid-list cols="12" class="players-field" [rowHeight]="getRowHeight()">
        <ng-template ngFor let-item [ngForOf]="[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]" let-i="index">
          <mat-grid-tile
            *ngIf="isDefenderRow(i) || isMidfielderRow(i)"
            [colspan]="isDefenderRow(i) ? 2 : 4"
            >
          </mat-grid-tile>
          <mat-grid-tile
              cdkDropList
              [colspan]="2"
              id="selectedPlayers{{i}}"
              [cdkDropListData]="selectedPlayers"
              (cdkDropListDropped)="drop($event, i)"
              [cdkDropListConnectedTo]="[availablePlayersList]" (click)="removeItem(i)">
              <div class="player-field">
                <div class="number">
                  <div [inlineSVG]="jerseySVG"></div>
                  <span>{{selectedPlayers[i]?.number}}</span>
                </div>
                <h4>{{selectedPlayers[i]?.name}}</h4>
              </div>
          </mat-grid-tile>
          <mat-grid-tile
            [colspan]="isDefenderRow(i) ? 8 : 2"
            >
          </mat-grid-tile>
        </ng-template>
      </mat-grid-list>
      <!-- <h1>Test</h1> -->
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>;
